:root {
  --nightclub1:#14cafc;
  --nightclub2:#478fed;
  --nightclub3:#7260e3;
  --nightclub4:#8f4ede;
  --nightclub5:#a752d9;
  --nightclub6:#cd5dd1;
  --nightclub7:#e367a1;
  --nightclub8:#f06095;
  --nightclub9:#ff4492;
}
